@import "colors";
@import "mixins";

h1, h2, h3, h4, h5, h6, div, p, span, ul, li, dl, dt, dd {
  margin:0;
  padding: 0
}

ul, li {
  list-style:inside none;
}

body {
  margin:0px;
  padding:0px;
  background-color:$bg;
  font-family: Georgia, Palatino, 'Times New Roman', Times, serif;
}

.image-wrapper {
  text-align:center;
}

.image-wrapper img {
  width: 160px;
}

#main_wrapper {
  text-align:center;
  #main {
    @include top-radius;
    width:600px;
    margin:0 auto;
    background-color:blue;
  }
}

#header {
  float:left;
  h1 {
    @include top-radius;
    @include gradient(lighten($red, 15%), $red);
    font-size:60px;
    line-height: 50px;
    width:600px;
    background-color:$red;
    color:white;
    padding: 15px 20px 10px;
    margin:20px auto 0 auto;
    text-align:left;
  }
}

#accounts_wrapper {
  float:left;
  .accounts {
    background-color:$red;
    width:600px;
    float:left;
    padding: 0 20px 10px 20px;
    .account {
      @include radius;
      float:left;
      width:100%;
      background-color:$bg;
      border-bottom: solid 1px $bg;
      padding: 5px 0;
      margin: 0 0 10px 0;
      h2 {
        font-size:40px;
        border-bottom: 1px solid #AAA;
        font-size: 40px;
        line-height: 40px;
        margin: 0px 15px 15px;
        padding: 3px 0px 5px;
      }
      table.left, table.right {
        width:50%;
        float:left;
      }
      table.right {
        th, td {
          vertical-align:top;
          padding: 5px 0;
        }
        th {
          width:6.5em;
          text-align:left;
        }
        td {
          text-align:left;
        }
      }
    }
  }
}

ul.services {
  li {
    float:left;
    margin-right:3px;
  }
}
